body {
	background-color: #000;
	background-image: url('../images/share.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a,a:hover,a:visited {
	color: white;
}

#question {
	margin-top: 50px;
}

#question h1 {
	color: yellow;
}

.alpha50 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity =   50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.alpha100 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity =   100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.selecteditemcontainer {
	width: 100%;
	background-color: #000;
}

.selecteditem {
	color: yellow;
}

#quizform {
	margin-top: 50px;
}

h1 {
	color: white;
}

.mt30 {
	margin-top: 30px;
	display: block;
}

.mt50 {
	margin-top: 50px;
	display: block;
}

.box {
	overflow: hidden;
	text-decoration: none;
}

.thumbnail {
	border: none;
}

.thumbnail>img {
	max-width: none;
}

.box a {
	text-decoration: none;
	/*background-color: gray;*/
	background-color: rgba(255, 255, 0, 0.1);
	color: white;
	padding-top: 30px;
}

.box img {
	/*height: 230px;*/
	height: 80%;
}

/* ********  LOGIN ***************/
.login {
	margin-top: 60%;
}

.logout {
	margin-top: 5%;
}

@media ( max-width :400px) {
	.box a {
		height: 350px;
		min-height: 350px;
	}
}

@media ( max-width :767px) {
	.box a {
		height: 400px;
		min-height: 400px;
	}
}

@media ( min-width :768px) {
	.box a {
		height: 450px;
		min-height: 450px;
	}
}

@media ( min-width :992px) {
	.box a {
		height: 350px;
		min-height: 350px;
	}
	.login {
		margin-top: 40%;
	}
}

@media ( min-width :1200px) {
	.login {
		margin-top: 40%;
	}
}

.login {
	margin-top: 60%;
}

.logout {
	margin-top: 5%;
}

@media ( max-width :400px) {
	.box
 
a {
		height: 350px;
		min-height: 350px;
	}
}

@media ( max-width :767px) {
	.box
 
a {
		height: 400px;
		min-height: 400px;
	}
}

@media ( min-width :768px) {
	.box
 
a {
		height: 450px;
		min-height: 450px;
	}
}

@media ( min-width :992px) {
	.box
 
a {
		height: 350px;
		min-height: 350px;
	}
	.login {
		margin-top: 40%;
	}
}

@media ( min-width :1200px) {
	.login {
		margin-top: 40%;
	}
}