{% extends "layout.twig" %} {% block content %}

{# <div class="logout text-center">{% include "components/button-logout.twig" %}</div>#}


<!-- Block Question  -->

<div id="question" class="text-center">
	<h1>{{ quiz.question.title }}</h1>
</div>



{% if selecteditem %} 

 <a href="{{ quiz.nextaction }}" >
	{% include "components/selected-item.twig" %}
 </a>



{# {% include "components/next-action.twig" %} #}

{% else %}

<!-- Block Answers -->


<form id="quizform" method="post">
	<input type="hidden" name="selection" id="selection" value="" />
	<div class="row">{% for answer in quiz.answers %} {% include "components/item.twig" %} {% endfor %}</div>
</form>



{% endif %} {% endblock %}
