{% extends "layout.twig" %}

{% block content %}
{# {% include "components/button-like.twig" %}#}
{% include "components/button-login.twig" %}
{% include "components/connect.twig" %}
{# <a class="btn btn-primary" href="{{ loginUrl }}">Log in with Facebook!</a>#}


{% endblock %}
