{% extends "layout.twig" %} {% block content %}
<html>
<head>
<title>Privacy Policy</title>
</head>
<body>
<h4>Privacy Policy</h4>
    {% include 'components/privacy-text.twig' %}
</body>
</html>

{% endblock %}
