				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<b><font face="Arial"><span style="font-size:12pt;">Privacy Policy of Koi Advertising Ltd </span></font></b><font face="Arial"></font><font face="Arial"><span style="font-size:12pt;">&nbsp;</span></font><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<font face="Arial"><span style="font-size:12pt;">Modern information and communication technologies
							play a fundamental role in the activities of an organization like Koi Advertising Ltd. We are a web services provider based in the
							<st1:country-region w:st="on">
								<st1:place w:st="on">
									United Kingdom
								</st1:place>
							</st1:country-region>.</span></font><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<font face="Arial"><span style="font-size:12pt;">Our principal activities are:</span></font>
				</p>
				<ul>
					<li  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
						<div align="justify">
							<font face="Arial"><span style="font-size:12pt;">web publicity display, e-mail marketingand mobile marketing services to promote a wide range of products and services. </span></font>
						</div>
					</li>
					<li  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
						<div align="justify">
							<font face="Arial"><span style="font-size:12pt;">client recruitment campaigns through the internet and affinity marketing.&nbsp;</span></font>
							<font face="Arial"></font>
						</div>
					</li>
				</ul>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<font face="Arial"><span style="font-size:12pt;">We
							carry out such business activities for selected third parties (who may operate
							in any business sector) and are referred to in this <b>Privacy Policy</b> as </span><span style="font-size:12pt; color:black;">Our Business Partners and</span></font><font face="Arial"><span style="font-size:12pt; color:black;"> Clients.</span></font><font face="Arial"><span style="font-size:12pt;">&nbsp;</span></font><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<font face="Arial"><span style="font-size:12pt;">Our privacy policy covers Koi Advertising Ltd and its Web
							site(s):
							<br>
							Organisation Name: Koi Advertising Ltd
							<br>
							Address:
							<st1:street w:st="on">
								<st1:address w:st="on">
									One Lyric Square
								</st1:address>
							</st1:street></span></font><font face="Arial"></font>
				</p>
				<p  style="line-height:150%; margin-right:0mm; margin-left:0; tab-stops:108.0pt" align="justify">
					<font face="Arial"><span style="font-size:12pt;">City, Zip:
							<st1:place w:st="on">
								<st1:city w:st="on">
									London
								</st1:city>
								,
								<st1:postalcode w:st="on">
									W6 0NB
								</st1:postalcode>
							</st1:place>
							<br>
							State: London
							<br>
							Country: England
							<br>
							Data Controller: Koi Advertising Ltd
							<br>
							Web Sites(s): www.koiadvertising.co.uk</span></font><b><font face="Arial"><span style="font-size:12pt;">&nbsp;</span></font></b><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<b><font face="Arial"><span style="font-size:12pt;">Providing Visitors with Anonymous Access </span></font></b><font face="Arial"><span style="font-size:12pt;">
							<br>
							You can access our Web site home page and browse our site without disclosing
							any personal data.</span></font><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<b><font face="Arial"><span style="font-size:12pt;">&nbsp;</span></font></b><b><font face="Arial"><span style="font-size:12pt;">The services and links of our Web site </span></font></b><font face="Arial"><span style="font-size:12pt;">
							<br>
							Our Web site enables you to communicate with other visitors or to post
							information to be accessed by others. When you do so, other visitors may
							collect and process your data.</span></font><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<font face="Arial"><span style="font-size:12pt;">As a convenience to users, our Web site
							includes links to other web sites or material which may be outside our control.
							We are not responsible for any information collected by third parties web sites
							and/or any for content on any site outside our Web site.</span></font><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<b><font face="Arial"><span style="font-size:12pt;">&nbsp;</span></font></b><b><font face="Arial"><span style="font-size:12pt;">Automatic Collection of Information </span></font></b><font face="Arial"><span style="font-size:12pt;">
							<br>
							We automatically collect and process personal data by means such as programming
							and we link information automatically collected and processed by such means
							with personal data about specific individuals. We do so for the following
							purposes: </span></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<font face="Arial"><span style="font-size:12pt;">
							<br> • Technical administration of the Web site
							<br> • Research and development
							<br> • Customer administration
							<br> • Marketing
							<br> • Trading in personal data</span></font><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<font face="Arial"><span style="font-size:12pt;">We use cookies to store personal data or we link
							information stored in cookies with personal data about specific individuals. We
							do so for the following purposes: </span></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<font face="Arial"><span style="font-size:12pt;">
							<br> • Technical administration of the Web site
							<br> • Research and development
							<br> • Customer administration
							<br> • Marketing
							<br> • Trading in personal data</span></font><b><font face="Arial"><span style="font-size:12pt;">&nbsp;</span></font></b><font face="Arial"></font><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<b><font face="Arial"><span style="font-size:12pt;">Data Collection and Purpose Specification </span></font></b><font face="Arial"><span style="font-size:12pt;">
							<br>
							We collect the personal data that you may volunteer while using our services.
							<br>
							We do not collect information about our visitors from other sources, such as
							public records or bodies, or private organisations.</span></font><font face="Arial"></font>
				</p>
				<p  style="text-align:justify; line-height:150%; margin-right:0mm; margin-left:0;" align="justify">
					<font face="Arial"><span style="font-size:12pt;">We may need
							to collect personal information of users who are registered with us from other
							sources, such as public records or bodies, or private organisations to check
							the accuracy of personal data collected at the time of registration and to keep
							such personal data updated from time to time.</span></font><font face="Arial"></font>
				</p>
				<p class="NormalWeb6" style="text-align:justify; line-height:150%; background-color:white; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify">
					<font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">To access the table of personal data types
							collected and purposes for which they are used, go to the end of the page.
							Please note that any purposes listed in the table below are referred to in this Privacy Policy</span><b><span style="font-family:Helvetica,sans-serif; font-size:12pt;"> </span></b><span style="font-family:Helvetica,sans-serif; font-size:12pt;">as Commercial Purposes.</span></font><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<font face="Arial"><span style="font-size:12pt;">We do not collect or use personal data for any
							purpose other than those referred to in the table below.
							<br>
							If we wish to use your personal data for a new purpose, we will give you the
							opportunity to consent to this new purpose: by indicating in a box at the point
							on the site where personal data is collected.</span></font><font face="Arial"></font>
				</p><h3 style="line-height:150%; background-color:white; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify"><font face="Arial"><span style="font-size:12pt;">&nbsp;</span></font><font face="Arial"><span style="font-size:12pt;">Your
						personal information</span></font><font face="Arial"></font></h3>
				<p class="NormalWeb6" style="text-align:justify; line-height:150%; background-color:white; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify">
					<font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">When you register with us, set up a job alert,
							or participate in competitions and promotions, buy a product or service, we ask
							for personal information such as your name, date of birth, contact details, and
							other details listed in the table below.</span></font><font face="Arial"></font>
				</p>
				<p class="NormalWeb6" style="text-align:justify; line-height:150%; background-color:white; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify">
					<font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">When
							you are registering with us it is not until you click the Sign Up or "Register" button that
							your information is transferred.</span></font><font face="Arial"></font>
				</p>
				<p class="NormalWeb6" style="text-align:justify; line-height:150%; background-color:white; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify">
					<font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">Once
							you register with us and agree to the terms and conditions of this Privacy
							Policy that govern how your information will be processed, you will not be
							anonymous to us and our partners and clients and will become one of our users.</span></font><font face="Arial"></font>
				</p>
				<p class="NormalWeb6" style="text-align:justify; line-height:150%; background-color:white; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify">
					<font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">Additionally,
							if you input your information on a co-branded registration page, eg one of our
							partners or clients registration page, then the information that you give
							becomes the joint property of us, our partners and clients. We are not
							responsible for the information that our partners and clients receive.</span></font><font face="Arial"></font>
				</p><h3 style="line-height:150%; background-color:white; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify"><font face="Arial"><span style="font-size:12pt;">&nbsp;</span></font><font face="Arial"><span style="font-size:12pt;">Disclosure
						of personal information</span></font><font face="Arial"></font></h3>
				<p class="NormalWeb6" style="text-align:justify; line-height:150%; background-color:white; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify">
					<font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">With
							your consent, we may share, rent and sell your personal data or sell or rent
							our entire database to our partners and clients in any sector for any
							Commercial Purpose including marketing activities. By marketing activities, we
							mean the communication directly to particular individuals by e-mail, post, telephone or
							sms of any advertising or marketing material in respect of any product or
							service from us, our partners or clients.</span></font><font face="Arial"><span style="font-size:12pt;">&nbsp;</span></font><font face="Arial"></font>
				</p>
				<p  style="text-align:justify; line-height:150%; margin-right:0mm; margin-left:0;" align="justify">
					<font face="Arial"><span style="font-size:12pt;">By clicking on the Sign Up or "Register"button you
							agree to be registered with us and to this Privacy Policy and the General Terms
							and Conditions </span><span style="font-size:12pt; color:rgb(0,112,192);">[<a href="/privacyb.html" target="_blank">please click here to view our
							General Terms and Conditions</a>]</span><span style="font-size:12pt;">. This includes your agreement to be
							contacted by e-mail, post, telephone or sms for Commercial Purposes from us, our partners
							and clients,</span></font><font face="Arial"><span style="font-size:12pt;">&nbsp;</span></font><font face="Arial"></font>
				</p>
				<p  style="text-align:justify; line-height:150%; margin-right:0mm; margin-left:0;" align="justify">
					<font face="Arial"><span style="font-size:12pt;">If you subsequently decide you no longer
							wish to receive direct marketing/information from us,
							or no longer wish us to pass your information  you
							should notify us accordingly by e-mail to: <a href="mailto:privacy@koiadvertising.co.uk">privacy@koiadvertising.co.uk</a>.</span></font>
				</p>
				<p class="NormalWeb6" style="text-align:justify; line-height:150%; background-color:white; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify">
					<font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">We
							or our partners or clients may use such information that you provide to alert
							you to a range of promotions and competitions in respect of any products or
							services in accordance with Commercial Purposes. We may contact you regarding
							site changes or changes to such products or services that you use.</span></font><font face="Arial"></font>
				</p>
				<p class="NormalWeb6" style="text-align:justify; line-height:150%; background-color:white; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify">
					<font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">When
							you register with us and consent to such processing, we may send personally identifiable
							information about you to our partners or our clients and in particular we may:&nbsp;</span></font>
				</p>
				<ul>
					<li class="NormalWeb6" style="text-align:justify; line-height:150%; background-color:white; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify">
						<div align="justify">
							<font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">share, rent or sell such information forCommercial Purposes;</span></font>
						</div>
					</li>
					<li class="NormalWeb6" style="text-align:justify; line-height:150%; background-color:white; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify">
						<div align="justify">
							<font face="Arial"><span style="font-size:12pt;">share your information     with third parties as required to provide the service or the product you
									have requested;</span></font>
						</div>
					</li>
					<li class="NormalWeb6" style="text-align:justify; line-height:150%; background-color:white; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify">
						<div align="justify">
							<font face="Arial"><span style="font-size:12pt;">send the information to
									our partners or clients who work with us to provide a product or service
									to you.</span></font>
						</div>
					</li>
					<li class="NormalWeb6" style="text-align:justify; line-height:150%; background-color:white; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify">
						<div align="justify">
							<font face="Arial"><span style="font-size:12pt;">respond to subpoenas,     court orders or legal process;</span></font><strong><font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">&nbsp;</span></font></strong><font face="Arial"></font>
							<font face="Arial"></font>
							<font face="Arial"></font>
							<font face="Arial"></font>
							<font face="Arial"></font><font face="Arial"></font>
						</div>
					</li>
				</ul>
				<p style="line-height:150%; margin-right:0mm; margin-left:0; margin-bottom:.0001pt" align="justify">
					<strong><font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">Keeping our
							record accurate and up to date</span></font></strong><font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;"></span></font><font face="Arial"></font>
				</p>
				<p style="text-align:justify; line-height:150%; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify">
					<font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">We
							regularly review the personal data held by us to ensure that it is up to date,
							accurate and not held for longer than necessary for our internal processes or
							as otherwise required by law. Your co-operation in helping us to keep your data
							accurate by informing us of any change of name or change of address is an
							important part of this. If you would like to review or change the details you
							have supplied us with, you may do so at any time.             <!--[if !supportLineBreakNewLine]-->
							<br style="mso-special-character:line-break">
							<!--[endif]--></span></font><font face="Arial"></font>
				</p>
				<p style="line-height:150%; margin-right:0mm; margin-left:0; margin-bottom:.0001pt" align="justify">
					<strong><font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">Transferring your
							personal information outside the European Economic Area</span></font></strong><font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;"></span></font><font face="Arial"></font>
				</p>
				<p style="text-align:justify; line-height:150%; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify">
					<font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">We may
							transfer personal information for any Commercial Purpose to countries outside
							of the European Economic Area. As these countries may not have similar data
							protection laws to the EEA, in such case we will take steps to ensure that your
							privacy rights continue to be protected.</span></font><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<b><font face="Arial"></font></b><b><font face="Arial"><span style="font-size:12pt;">Children's Privacy </span></font></b><font face="Arial"><span style="font-size:12pt;">
							<br>
							We do not knowingly collect personal data from children.</span></font><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<font face="Arial"><span style="font-size:12pt;">To ensure that children's privacy is respected on
							our Web site, we:
							<br>
								make reasonable efforts to verify that users are not children.
							<br>
						</span></font><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<b><font face="Arial"></font></b><b><font face="Arial"><span style="font-size:12pt;">Confidentiality / Security </span></font></b><font face="Arial"><span style="font-size:12pt;">
							<br>
							We give you the option of using a secure transmission method to send us the
							following types of personal data:
							<br> • primary personal data (such as name and contact details)
							<br> • other personal and profiling data (such as physical description, leisure
							activities)
							<br> • identifiers (such as Web site password)
							<br> • CV</span></font><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<font face="Arial"><span style="font-size:12pt;">We have implemented security policies, rules and
							technical measures to protect the personal data that we have under our control
							from:
							<br> • unauthorised access
							<br> • improper use or disclosure
							<br> • unauthorised modification
							<br> • unlawful destruction or accidental loss
							<br>
							All our employees and data processors, who have access to, and are associated
							with the processing of personal data, are obliged to respect the
							confidentiality of our users and our visitors' personal data.
							<br>
							We ensure that your personal data will not be disclosed to State institutions
							and authorities except where required by law or other regulation.
							<br>
							When we temporarily provide personal information to companies that perform
							services for us, such as to send you email or samples, we require those
							companies to protect the information in the same manner as Koi Advertising Ltd. These
							service companies are not permitted to use your personal information for any
							other purpose than the reason you provided it to Koi Advertising Ltd.</span></font><strong><font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">&nbsp;</span></font></strong><font face="Arial"></font>
				</p>
				<p style="line-height:150%; margin-right:0mm; margin-left:0; margin-bottom:.0001pt" align="justify">
					<strong><font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">Your acceptance
							of these terms</span></font></strong><font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;"></span></font><font face="Arial"></font>
				</p>
				<p class="NormalWeb6" style="line-height:150%; background-color:white; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify">
					<font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">By
							using this site, you consent to the collection and use of this information by
							us and to our privacy policy. If we change our privacy policy in any way, we
							will post these changes on this page.&nbsp;</span></font><font face="Arial"></font><font face="Arial"></font>
				</p>
				<p class="NormalWeb6" style="line-height:150%; background-color:white; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify">
					<font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">This
							policy does not apply to companies that we do not own or control, or to third
							parties other than our partners or our clients with whom we do not have any
							contractual relationship.</span></font><font face="Arial"></font>
				</p>
				<p class="NormalWeb6" style="line-height:150%; background-color:white; margin-right:0mm; margin-left:0; margin-bottom:.0001pt;" align="justify">
					<font face="Arial"><span style="font-family:Helvetica,sans-serif; font-size:12pt;">
							<br>
							<b>Access to the personal data we may hold about you </b>
							<br>
							If
							you have any questions, concerns or comments regarding us or our privacy policy
							or whether we are keeping personal data about you, please contact us:</span></font><font face="Arial"></font>
				</p>
				<ul>
					<li  style="line-height:150%; background-color:white; margin-right:0mm; margin-left:0;">
						<div align="justify">
							<font face="Arial"><span style="font-size:12pt;">&nbsp;Email:<a href="mailto:privacy@koiadvertising.co.uk"> privacy@koiadvertising.co.uk</a> &nbsp;</span></font>
						</div>
					</li>
				</ul>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<font face="Arial"><span style="font-size:12pt;">
							<br>
							We will provide you with a readable copy of the personal data which we keep
							about you, within a month. - although we may before require proof of your
							identity - We will provide the information without any charge.
							<br>
							We allow you to challenge the data that we hold about you and, where
							appropriate, you may have the data:
							<br>
						</span></font><font face="Arial"></font>
				</p>
				<ul>
					<li  style="line-height:150%; margin-right:0mm; margin-left:0;">
						<div align="justify">
							<font face="Arial"><span style="font-size:12pt;">erased </span></font><font face="Arial"></font>
						</div>
					</li>
					<li  style="line-height:150%; margin-right:0mm; margin-left:0;">
						<div align="justify">
							<font face="Arial"><span style="font-size:12pt;">rectified or amended </span></font><font face="Arial"></font>
						</div>
					</li>
					<li  style="line-height:150%; margin-right:0mm; margin-left:0;">
						<div align="justify">
							<font face="Arial"><span style="font-size:12pt;">completed</span></font><b><font face="Arial"><span style="font-size:12pt;">&nbsp;</span></font></b><font face="Arial"></font>
						</div>
					</li>
				</ul>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<b><font face="Arial"><span style="font-size:12pt;">Privacy Compliance </span></font></b><font face="Arial"><span style="font-size:12pt;">
							<br>
							Our privacy policy is compliant with the following instruments:
							<br>
							UK privacy law The Data Protection Act 1998
							<br>
							Privacy and Electronic Communications Regulations 2003
							<br>
							It is also compliant with the following global or regional regulatory, or
							self-regulatory instrument: EC Directive 95/46/EC
							<br>
							<br style="mso-special-character:line-break">
							<!--[if !supportLineBreakNewLine]-->
							<br style="mso-special-character:line-break">
							<!--[endif]--></span></font><b><font face="Arial"></font></b><b><font face="Arial"><span style="font-size:12pt;">Privacy Support </span></font></b><font face="Arial"><span style="font-size:12pt;">
							<br>
							If you have an enquiry or concern about our privacy policy, please contact:
							<br>
							Name/designation : Koi Advertising Ltd
							<st1:stockticker w:st="on">
								LTD
							</st1:stockticker>
							<br>
							Department : Privacy department
							<br>
							Address :
							<st1:address w:st="on">
								<st1:street w:st="on">
									One Lyric Square
								</st1:street>
								,
								<st1:city w:st="on">
									London
								</st1:city>
								<st1:postalcode w:st="on">
									W6 0NB
								</st1:postalcode>
							</st1:address>
							<br>
							Email address : privacy@koiadvertising.co.uk
							<br>
							URL : www.koiadvertising.co.uk
							<br>
							We do not recommend another means by which visitors' concerns may be addressed.</span></font><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<b><font face="Arial"><span style="font-size:12pt;">&nbsp;</span></font></b><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<b><font face="Arial"><span style="font-size:12pt;">TABLE
							of personal data collected and purposes for which they are used</span></font></b><font face="Arial"></font><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<font face="Arial"><span style="font-size:12pt;">Primary
							personal data/Business information
							<br>
							<b>x</b> volunteered by each visitor
							<br> • collected from public records or bodies
							<br> • collected from private organisations</span></font>
				</p>
				<p  align="center" style="line-height:150%; margin-right:0mm; margin-left:0;"><img src="http://uk.jobinaclick.co.uk/img/privacytable1.gif" width="606" height="540" border="0"><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<font face="Arial"><span style="font-size:12pt;">&nbsp;</span></font><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<b><font face="Arial"><span style="font-size:12pt;">Other
							personal details and profiling data</span></font></b><font face="Arial"></font><font face="Arial"></font>
				</p>
				<p  align="justify" style="line-height:150%; margin-right:0mm; margin-left:0;">
					<b><font face="Arial"><span style="font-size:12pt;">x</span></font></b><font face="Arial"><span style="font-size:12pt;"> volunteered by each visitor
							<br> • collected from public records or bodies
							<br> • collected from private organisations</span></font>
				</p>
				<p  align="justify">
					<font face="Tahoma"><span style="font-size:11pt;"><strong>You may be contacted by e-mail within the following categories</strong></span>
				</font></p><font face="Tahoma">
				<p  align="justify">
					<font face="Tahoma"><span style="font-size:11pt;"><strong>Various contests:</strong>
							<br>
							Offers for surveys, sweepstakes, prize draws and free giveaways</span>
				</font></p><font face="Tahoma">
				<p  align="justify">
					<font face="Tahoma"><span style="font-size:11pt;"><strong>Financial:</strong>
							<br>
							Offers for professional associations; consumer, automobile and housing loans; household, automobile, travel and accident insurance </span>
				</font></p><font face="Tahoma">
				<p  align="justify">
					<font face="Tahoma"><span style="font-size:11pt;"><strong>Magazines and newspapers:</strong>
							<br>
							Offers for newspapers and magazines on fashion, nature, photography, interior decorating, science, economics, fitness and lifestyle</span>
				</font></p><font face="Tahoma">
				<p  align="justify">
					<font face="Tahoma"><span style="font-size:11pt;"><strong>Beauty and health tips:</strong>
							<br>
							Offers for weight-loss products, dietary supplements, vitamins, creams and dental hygiene products</span>
				</font></p><font face="Tahoma">
				<p  align="justify">
					<font face="Tahoma"><span style="font-size:11pt;"><strong>Clubs, organisations and web sites/portals:</strong>
							<br>
							Charitable organisations, film clubs, dating sites and fitness centres</span>
				</font></p><font face="Tahoma">
				<p  align="justify">
					<font face="Tahoma"><span style="font-size:11pt;"><strong>Electronics:</strong>
							<br>
							Offers for TV providers, internet, mobile telephone service and web pages</span>
				</font></p><font face="Tahoma">
				<p  align="justify">
					<font face="Tahoma"><span style="font-size:11pt;"><strong>Clothing, fashion and lifestyle:</strong>
							<br>
							Offers for underwear, designer clothing, jewellery and makeup</span>
				</font></p><font face="Tahoma">
				<p  align="justify">
					<font face="Tahoma"><span style="font-size:11pt;"><strong>Games and gambling:</strong>
							<br>
							Offers to register on web sites featuring bingo, gambling and scratch games, for example</span>
				</font></p><font face="Tahoma">
				<p  align="justify">
					<font face="Tahoma"><span style="font-size:11pt;"><strong>Transport, autos, travel and holidays:</strong>
							<br>
							Offers for petrol, roadside assistance, airline tickets, motoring holidays, skiing holidays, charter trips and summer house rentals.</span>
				</font></p><font face="Tahoma">
				<p  align="center">
					<span lang="EN-US" style="mso-bidi-font-family:Helvetica">&nbsp;</span><img src="http://uk.jobinaclick.co.uk/img/privacytable2.gif" border="0">
				</p>

				<p>
					&nbsp;
				</p></font></font></font></font></font></font></font></font></font></font></td>